

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --font-corps:Roboto,Sans-Serif; 
    --font-titre:Poppins,Sans-Serif;

    --color-principal:#0d3b3e;
    --color-secondaire:#f0a830;


}
body{
    font-family: var(--font-corps);
   
}
h1,h2,h3{
    font-family: var(--font-titre);
}


nav{
   display: flex;
   justify-content: space-between;
   padding: 30px 60px;
  
   
  
   
   
}
.linkNav{
    display: flex;
    align-items: center;
    gap: 2px;
}
.linkNav a:hover{
    background: var(--color-secondaire);
    border: 2px solid #fff;
    border-radius: 15px;
    padding: 10px 10px;
}
nav ul{
    width: 500px;
   display: flex;
   list-style: none;
   justify-content: space-around;
  
   
   
}
nav a{
    text-decoration: none;
   color: white;
   justify-content: end;
   
   
}
header{
    
    color: white;
    background: transparent;
    box-shadow: 0 10px 20px rgba(0, 0,0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 999;
     position: relative;
   /* border-radius: 60px; */
   border-bottom: 2px solid #f0a830;
   position: fixed;
   width: 100%;
   top: 0;
  background: var(--color-principal);
   
    
   
}

nav button{
    width: 80px;
    border-radius: 15px;
    cursor: pointer;
   background: var(--color-secondaire);
   border: none;

   
}
.bi-moon-stars-fill{
    color: white;
}
.logo{
    font-family: Bodoni;
    color: var(--color-secondaire);
}
.nav-bar{
    color: white;
    background: transparent;
    box-shadow: 0 10px 20px rgba(0, 0,0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 999;
    background: linear-gradient(to bottom,#000f33,#0186ff);
     position: relative;
   border-radius: 60px;
   border: 0.5px solid #ccc;
   position: fixed;
   top: 0;
   width: 100%;
}
.navbar-toggle{
    display: none;
    width: 35px;
    height: 35px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    gap: 5px;
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}
.navbar-toggle i{
    color: white;
    font-size: 40px;
}



/* SECTION HERO */
.Sect-hero{
    color:var(--color-principal);
    min-height: 100vh;
   
    
    /* background: linear-gradient(45deg,#000f33,#0186ff); */
}
.hero-texte{
    display: flex;
    
    /* padding: 50px; */
    /* background: linear-gradient(to bottom,#000f33,#0186ff);
    border-radius: 20px; */
}
.hero-texte img{
    width: 600px;
    margin-top: 9em;
    border-radius:60px 60px 60px 60px;
    margin-left: 3em;
    height: 600px;
    margin-bottom: 15px;

    
}
.hero-texte img:hover{
    transform: rotate(360deg);
    transition: 5s;
    cursor: pointer;
}
.hero-texte h1{
    margin-top: 3em;
    text-align: center;
    font-size: 3em;
    font-family: Bodoni;
    margin-left: 10px;

    
}
.hero-texte h2{
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
     margin-left: 10px;
    
}

.lien a{
    color: white;
    text-decoration: none;
    
}
#btn1,#btn2{
    padding: 20px 30px ;
    border-radius: 15px;

   
    
}

#btn2{
    padding: 20px 30px ;
   background: var(--color-secondaire);
   
}
#btn1{
    padding: 20px 30px ;
    background: var(--color-secondaire);
    margin-right: 10px;
}
.align{
    text-align: center;
    margin-top: 5em;
}
/* COMPTE A REBOUR */



.conférence-date {
    text-align: center;
    margin-bottom: 30px;
    
}
.date{
    display: grid;
    grid-template-columns: repeat(4,1fr) ;
   max-width: 1000px;
   margin: 0 auto;
   padding: 20px;
   gap: 30px;
   margin-top: 20px;
   

}
.jour{
    background: var(--color-secondaire);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 50px 40px;
    text-align: center;
    margin-bottom: 20px;
    line-height: 30px;
    color: white;
    
}
/* CHIFFRE CLE */
.grille{
    display: grid;
    grid-template-columns: repeat(4,1fr) ;
   max-width: 1000px;
   margin: 0 auto;
   padding: 20px;
   gap: 30px;
   margin-top: 20px;
   

}
.grille1,
.grille2,
.grille3,
.grille4{
    background:var(--color-principal);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 50px 40px;
    text-align: center;
    color: var(--color-secondaire);
   line-height: 30px;
   font-size: 30px;
   
   
    
}
.grille1:hover,
.grille2:hover,
.grille3:hover,
.grille4:hover{
    transform: rotate(360deg);
    transition: 2s;
    cursor: pointer;
}

.Sect-chiffreclés{
     text-align: center;
     min-height: 300px;
     
}

/* POURQUOI PARTICIPER */
.titre-parti{
    text-align: center;
    color: #161515;
    
}
.grid{
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    text-align: center;
    margin-top: 30px;
    padding: 20px;
    
    

}



.Sect-participer{
    background: rgb(221, 224, 224);
    color: white;
    min-height: 400px;
    padding: 10px 10px;
    border-radius: 60px;
}
.grid1{
    background: var(--color-principal);
    
    
    
}
.grid2{
    background: var(--color-secondaire);
    height: 100%;
    
}
.grid3{
    background: var(--color-principal);
    
    
    
}
.grid1:hover,.grid2:hover,.grid3:hover{
transform: rotateX(360deg);
    transition: 2s;
}
.grid1,.grid2,.grid3{
    border-radius: 15px;
    padding: 50px 35px;

}
.grid h2{
    margin-bottom: 10px;
}
.grid1 i,.grid2 i,.grid3 i{
    font-size: 2rem;
    margin-bottom: 16px;
    display: inline-block;
}
/* SECTION INTERVENTANT VEDETTE */
.Sect-inter h1{
   text-align: center;
   margin-top: 30px;
   
}
.content{
    padding: 9px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    text-align: center;
}
.content h2{
    font-size: 1em;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0,0, 0.19);
    /* width: 250px;
    height: 320px; */
    border-radius: 16px;
    position: relative;
    margin-top: 20px;
    background: var(--color-principal);
    color: white;
    
}
.card img{
    width: 250px;
    height: 200px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
    
}
.carte-inter{
    display: flex;
    gap: 40px;
    justify-content: center;

}
.Sect-inter {
    min-height: 500px;
}
.Sect-inter a{
    color: white;
    text-decoration: none;
    padding: 20px 30px ;
    border-radius: 15px;
    padding: 20px 30px ;
    background: var(--color-secondaire);
    margin-right: 10px;
    
}
.btn3{
text-align: center;
margin-top: 50px;



}



/* SPONSOR */
.Sect-sponsor h1{
      text-align: center;
      
}
.bi-award-fill{
    font-size: 40px;
}
.Or{
    color: #dfbe08af;
}
.Argent{
    color: #C0C0C0;
}
.Bronze{
    color: #CD7F32;
}
.sponsor h3{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Bodoni;
}
.sponsor img{
    width: 200px;
    justify-content: center;
    
    
}
.spon h1{
    font-size: 20px;
}
.sponsor-or{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 30px;
    

}
.sponsor-argent img{
    width: 150px;
}

.sponsor-argent{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 30px;

}
.sponsor-bronze{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 30px;

}
.sponsor-bronze img{
    width: 140px;
}
.footer{
    display: flex;
    gap: 20px;
    justify-content:space-evenly;
    margin-bottom: 100px;
    margin-top: 100px;
}
.footer ul{
    list-style: none;
    text-decoration: none;
    text-align: center;
}
.footer a{
    text-decoration: none;
    color: white;
}
.footer h1{
     font-size: 20px;
     color: var(--color-secondaire);
     margin-bottom: 20px;
}
.footer h4{
    text-align: center;
}
.copy{
    text-align: center;
    padding: 10px 10px;
}
.bi-twitter-x,
.bi-facebook,
.bi-threads{
    font-size: 30px;
    margin-top: 20px;
    gap: 20px;
}
.sect-footer {
    background: var(--color-principal);
    padding: 20px 20px;
    color: white;
}

/* SECTION FIL D'ARIANE */
.fil-ariane{
    /* padding: 60px 60px; */
    width: 100%;
    background: var(--color-principal) ;
    color: white;
    min-height: 200px;
    margin-top: 7em ;
    padding-top: 40px;
}
.ariane{
    text-align: center;
     /* margin-top: 6em;  */
}
.fil{
    gap: 50px;
    
    

   
}
.fil-ariane h1{
    font-size: 2.5rem;
    margin-top: 30px;
}
.fil a{
    text-decoration: none;
    color: white;
    margin-top: 30px;
    
    
    
    
}
.fil .pro{
    color: white;
}
.fil a,.pro{
    background-color: var(--color-secondaire);
    position: relative;
    margin-right: 5px;
    padding: 0px 11px;
    margin-top: 2rem;
    /* gap: 20px; */
    
}
.fil a::before{
    content: "";
    position: absolute;
    border-color: var(--color-secondaire);
    border-style: solid;
    border-width: 11px 5px;
}
.fil a::before{
    left: -5px;
    border-left-color:transparent ;
}
.fil .pro::before{
    content: "";
    position: absolute;
    border-color: var(--color-secondaire);
    border-style: solid;
    border-width: 11px 5px;
     left: -5px;
    border-left-color:transparent ;
}

.titre-planning h2{
    font-size: 2rem;
    margin-top: 30px;

}
.titre-planning{
    text-align: center;
    line-height: 40px;
}
.onglet{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}
.onglet button{
    cursor: pointer;
    background: var(--color-principal);
    color: white;
    padding: 20px 20px;
    border-radius: 20px;
    width: 100%;
    font-size: 1.5rem;
    

}
.table-scroll{
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin: 100px auto;
    
}
th{
    color: var(--color-secondaire);
}
.table-scroll .tableau{
    margin: auto;
}
.tableau{
    border-collapse: collapse;
    min-width: 800px;
    width: auto;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    margin: 100px auto;
    border: 2px solid var(--color-principal);
    
}
thead tr{
    background: var(--color-principal);
    color: white;
    text-align: left;
}
th,td{
    padding: 15px 20px;
}
tbody,tr,td,th{
    border: 1px solid #ddd;
}
tbody tr:nth-child(even){
    background: #f3f3f3;
}
.bi-robot,
.bi-shield-lock,
.bi-graph-up-arrow,
.bi-palette-fill{
    font-size: 3rem;
    color: var(--color-secondaire);
}

.sect-thema h1{
    text-align: center;
}
.sect-thema{
    min-height: 400px;
}
.thematique{
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(4,1fr);
    width: 100%;
    text-align: center;
    margin-top: 30px;
    padding: 20px;
    margin-bottom: 29px;

}
.thema1{
    background: var(--color-principal);
    color: white;
    border-radius: 20px 20px 15px 15px;
    padding: 20px 20px;
}


/* PAGE INTERVENANT */
.carte{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0,0, 0.19);
    /* width: 250px;
    height: 320px; */
    border-radius: 16px;
    position: relative;
    margin-top: 20px;
    background: var(--color-secondaire);
    color: white;

}
.carte img{
    width:100%;
    height: 290px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
    display: block;

}
.catre-intervenants{
     display: grid;
    grid-template-columns: repeat(3,1fr);

    /* gap: 40px; */
    justify-content: center;
    gap: 24px;
    margin: 40px auto;
    padding: 0 20px;
    max-width: 1100px;
   
   
}
.sect-intervenants h1{
    text-align: center;
    margin-top: 20px;
}


.filtre-inter{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
    
}
.filtre-inter button{
    background: var(--color-secondaire);
    padding:10px 10px;
    color: white;
    border-radius: 15px;
    cursor: pointer;
   border: none;
   border-color: var(--color-principal);
}


/* PAGES CONTACT */
.sect-contact{
    min-height: 500px;
}
#container-form{
    display: flex;
    justify-content:center;
    gap: 2.5rem;
    height: 80vh;
    margin-top: 2em;
    margin-bottom: 2em;
    
    

}
#container-form form {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    border: 2px solid var(--color-principal);
    padding: 3em;
    background:var(--color-principal) ;
    color: white;
    box-shadow: 0 0 10px 5px #000;
    
    
}
#container-form form > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 40px;

}

    
    

#container-form form > div input,select , textarea{
    width: 20em;
    height: 2em;
    border: var(--color-secondaire);
}

#container-form form > div input ,select , textarea{
    background: rgb(253, 253, 253);
    border-radius: 5px;
}

#container-form form > div input,select,textarea:focus{
   border-color: #ffffff;
   /* box-shadow: 0 0 10px 3px #ffffff; */
}
#container-form  h2{
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}
#btn-form button{
    margin:2em  5em 10px;
    margin-top: 2em;
    width: 20em;
    height: 3em;
    background: var(--color-secondaire);
     box-sizing: border-box;
     align-items: center;
     text-align: center;
     color: white;
     border: none;
     cursor: pointer;
     margin-bottom: 10px;
     display: flex;
     justify-content: center;
     border-radius: 15px;
     font-weight: bold;
     text-transform: uppercase;
     text-shadow: 0 0 5px #ffffff;
     transition: 0.5s;
    
}
#btn-form button:hover{
    transform: scale(1.2);
    box-shadow: 0 0 10px 5px #ffffff;
}

.infos{
     
    /* display: flex;
    flex-direction: column; */
    /* justify-content: space-between;  */
    border: 2px solid var(--color-principal);
    padding: 3em;
    background: var(--color-secondaire) ;
    color: var(--color-principal);
    box-shadow: 0 0 10px 5px #000;
    line-height: 3em;
}
.bi-envelope-arrow-down-fill ,
.bi-telephone-fill,
.bi-geo-alt-fill{
    font-size: 2em;
    
}
.faq{
    padding: 64px 20px;
    display: flex;
    justify-content: center;
    background: rgb(221, 224, 224);
    border-radius: 70px;
}
.question-reponse{
    width: 100%;
    max-width: 680px;
}
.title-faq{
    margin-bottom: 48px;
    text-align: center;
}
details{
    /* border-bottom: 1px solid black; */
    border: 3px solid var(--color-principal);
    padding: 20px 20px;
    
}
summary{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 24px;
    cursor: pointer;
    list-style: none;
    font-size: 18px;
    font-weight: 400;
    color: black;


    
}
details p{
    /* border: 1px solid black; */
    margin-top: 20px;
}
.num{
    font-size: 12px;
    padding-top: 4px;
}
.text{
    flex: 1;
}
.bi-plus{
    flex-shrink: 0;
    width: 22px;
    height: 22px;
    border: 1px solid black;
    position: relative;
    border-radius: 50%;

    
}
.bi-plus::before,
.bi-plus::after{
    content: "";
    position: absolute;
    background: var(--color-principal);
    transition: 0.3s ease;


}
.bi-plus::before{
    top: 50%;
    left: 5px;
    right: 5px;
    height: 1px;
    transform: translateY(-50%);
}
.bi-plus::after{
    left: 50%;
    top: 5px;
    bottom: 5px;
    width: 1px;
    transform: translateY(-50%);
}
details[open] .bi-plus {
    background: var(--color-secondaire);
    
}
details[open] .bi-plus::before,
details[open] .bi-plus::after{
    
    background: var(--color-principal);
    border-color: var(--color-principal);
}
details[open] .bi-plus::after{
    transform: translateX(-50%) rotate(90deg) scale(0);
}
iframe{
    width: 100%;
    height: 500px;
   border-radius: 70px;
    padding: 20px 20px;
}
.ifra h2{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
}
.ico{
    align-items: center;
    font-size: 30px;
    margin-right: 12px;
    display:none;
}
hr{
    width: 200px;
    margin: 20px auto;
    height: 4px;
    max-width: 800px;
    border: none;
    background: var(--color-secondaire);

    
}
#separateur{
    width: 100% !important;
    height: 2px;
    max-width: 100%;
    
    border: none;
    background: var(--color-secondaire);
}
.inf{
    background: var(--color-principal )!important;
    opacity: 1;
}

/* RESPONSIVE TABLETTE 768PX*/
@media (max-width: 768px) {
    .linkNav{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        flex-direction: column;
        background: var(--color-principal);
        
        transition: 0.4s ease;
        border-radius: 0 0 20px 20px ;
    }
    .logo{
        margin-top: 10px;
    }
    .linkNav.active{
        max-height: 500px;
        padding: 20px 0;
    }
    header,
    .nav-bar{
        position: relative;
        background: var(--color-principal);
       
    }
    nav ul{
        width: 100%;
        flex-direction: column;
        gap: 15px;
        text-align: center;
        padding: 20px 0;
    }
    .linkNav button{
        margin: 0 auto 15px;
    }
    nav{
        padding: 20px 25px;
        flex-wrap: wrap;
    }
    .navbar-toggle{
        display: block;
        
       
    }
    .bi-list{
          color: var(--color-secondaire);
    }
    .linkNav.acttive{
        display: flex;

    }
    nav ul{
        width: 100%;
        flex-direction: column;
        gap: 15px;
        text-align: center;
        align-items: center;
    }
    nav button{
        margin: 10px auto 0;
    }
        /* SECT HERO */
        .conférence-date{
            margin-top: 3em;
        }
    .hero-texte{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .hero-texte img{
        width: 90%;
        max-width: 450px;
        height: auto;
        margin: 2em auto 1em;
    }
    .hero-texte h1{
        font-size: 2.2em;
        margin-top: 0.5em;
    }
    .hero-texte h2{
        font-size: 18px;
        padding: 0 20px;
    }
    .lien .align{
        margin-top: 2em;
    }

    /* COMPTE A REBOURS CHIFFRE CLE */
    .date,
    .grille{
        grid-template-columns: repeat(2,1fr);
       gap:20px;
    }


    /* POURQUI PART */
    .grid{
        grid-template-columns: repeat(1,1fr);
    }
    /* INTER */
     .carte-inter{
        flex-wrap: wrap;
     }
     .card{
        width: 45%;
     }
     .card img{
        width: 100%;
        height: 300px;
     }


     /* THEMATIQUE */

     .thematique{
        grid-template-columns: repeat(2,1fr);
     }
     /* INTERVENANTS  */
     .catre-intervenants{
        grid-template-columns: repeat(2,1fr);
     }
     .filtre-inter{
        flex-wrap: wrap;
     }
     /* SPONSOR */
     .Sect-sponsor{
        margin-top: 3em;
     }

     .sponsor-or,
     .sponsor-bronze,
     .sponsor-argent{
        flex-wrap: wrap;
        gap: 25px;
     }
     .sponsor-or img{
        width: 10em;
        
     }
     .sponsor-argent img{
        width: 7em;
     }


     /* CONTACT */
     #container-form{
        flex-direction: column;
        align-items: center;
        height: auto;
     }
     #container-form form,
     .infos{
         width: 85%;

     }


     /* PLANNING */

     .onglet{
        flex-wrap: wrap;
     }
     .onglet button{
        width: auto;
        font-size: 1.1rem;
        padding: 15px 20px;
     }
     .tableau{
        min-height: 100%;
     }
     /* FIL D ARIANE */
     .fil-ariane h1{
          font-size: 1.8rem;
     }
     .fil-ariane{
        min-height: auto !important;
        margin-top: 0 !important;
        padding-top: 0 !important;
     }
     .ariane{
        margin-top: 1em;
        padding: 0 20px 30px;
        padding-top: 20px;
     }
     .table-scroll{
        margin: 40px auto;
     }
     .tableau{
        min-width: 700px;
        padding: 10px 10px;

     }
     
     th,
     td{
        padding: 12px 15px;
        font-size: 0.9rem;
     }


     /* FOOTER */

     .footer{
        flex-wrap: wrap;
        gap: 40px;
        line-height: 30px;
     }
     #separateur{
    width: 100% !important;
    height: 2px;
    max-width: 100%;
    
    border: none;
    background: var(--color-secondaire);
}
.inf{
    background: var(--color-principal )!important;
    opacity: 0.6;
}

}


/* RESPONSIVE MOBILE 375PX */
@media (min-width : 375px) and (max-width : 480px) {
    nav{
        padding: 10px 10px ;
    }
    .logo{
        font-size: 1rem;
    }
      

    /* HERO */
    .hero-texte img{
        width: 100%;
        height: 280px;
        margin: 1.5em 0;
        border-radius: 30px;
    }
    .hero-texte h1{
        font-size: 1.6em;
        margin-top: 0.5;
    }
    .hero-texte h2{
        font-size: 15px;
    }
    .lien.align{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .conférence-date{
        margin-top: 2em;
    }
    #btn1,
    #btn2{
        padding: 15px 20px;
        margin: 0;
    }
    /* GRILLE */
    .date,
    .grille,
    .grid,.thematique,
    .catre-intervenants{
        grid-template-columns: 1fr;
    }
    .card{
        width: 100%;
    }
    .card img{
        width: 100%;
        height: 300px;
    }
     

    /* SPONSORS */
    .Sect-sponsor{
        margin-top: 2em;
    }
    .sponsor img{
        width: 80px;
    }
    .sponsor-argent img{
        width: 80px;
    }
    .sponsor-bronze img{
      width: 80px;
    }

    /* CONTACT */

    #container-form form,
    .infos{
        width: 100%;
        padding: 2em 1.5em;
    }
    #container-form form > div{
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        line-height: normal;
        margin-bottom: 15px;
    }
    #container-form form > div input,
    #container-form form > div select,
    #container-form form > div textarea{
        width: 100%;
    }
    #btn-form button{
        width: 100%;
        margin: 1em 0;
    }

    /* PLANNING */

    .onglet{
        flex-direction: column;
    }
    .tableau{
        
        min-width: 100px;
    }
    .table-scroll{
        margin: 20px auto;
    }
    th,
    td{
        padding: 10px 12px;
        font-size: 0.8rem;
    }

    /* FIL D ARIANE */

    .fil-ariane h1{
        font-size: 1.4rem;
    }
     /* FOOTER */

     .footer{
        flex-direction: column;
        text-align: center;
        gap: 30px;
     }


     /* IFRAME */
     iframe{
        height: 250px;
     }
     #separateur{
    width: 100% !important;
    height: 2px;
    max-width: 100%;
    
    border: none;
    background: var(--color-secondaire);
}
.inf{
    background: var(--color-principal )!important;
    opacity: 0.6;
}

}
