

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --font-corps:Roboto,Sans-Serif; 
    --font-titre:Poppins,Sans-Serif;

    --color-principal:#000f33;
    --color-secondaire:#0186ff;


}
body{
    font-family: var(--font-corps);
   
}
h1,h2,h3{
    font-family: var(--font-titre);
}

nav{
   display: flex;
   justify-content: space-between;
   padding: 30px 60px;
   
}
nav ul{
    width: 500px;
   display: flex;
   list-style: none;
   justify-content: space-around;
   
   
}
nav a{
    text-decoration: none;
   color: white;
   
   
}
header{
    background: linear-gradient(to bottom,#000f33,#0186ff);
    color: white;
    
   
}
.navbar-toggle{
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: white;
    transition: all 0.3s ease-in-out;
}
nav button{
    width: 80px;
    border-radius: 15px;
    cursor: pointer;
    background: white;
   
}